:root {

    --block-color: rgba(214, 213, 213, 0.647);
    --input-background-color: rgb(228, 226, 226);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    /* border: red 2px solid; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body {
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url(doc/Background.jpg) center/cover;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--block-color);
    box-shadow: 2px 2px 6px 2px rgba(128, 128, 128, 0.434);
    backdrop-filter: blur(2px);
    border-radius: 20px;

    height: 400px;
    width: 400px;

    & .price-container {
        & p {
            margin-bottom: 24px;
            font-size: 1.6em;
            font-weight: bold;

            & span {
                font-weight: initial;
            }
        }
    }
}

/* Not nested for more clarity and avoiding conflicts */
.date-container {
    height: 100px;
    width: 100%;
    margin: 12px 0 12px 0;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;

    & input {
        height: 40px;
        width: 60%;
        border-radius: 8px;

        font-size: 1em;
        letter-spacing: 2px;

        background: var(--input-background-color);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    & label {

        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--block-color);

        width: 100%;
        height: 40px;
        margin: 6px 0 6px 0;
    }

}